# 64 byte hex
AUTH_TOKEN_SECRET=94e0193b27d95fd17564355f0bc9be01575d6469440461bdacefd331bfd44018fef569ba34f360c7dd3d7798a84646a02874c94b5c5570f6e746fbdaae57c70e

# Host you want to start server on
HOST=0.0.0.0:8000

# Database type: sqlite or postgres (default: postgres)
DB_TYPE=postgresql


# Postgresql config

# hostname of postgres server
DB_HOST=postgres

# port of postgres server
DB_PORT=5432

# username to connect to postgres as
DB_USER=syncboard

# password for the user above
DB_PASSWORD=mysyncboarddbpassword

# name of database to use
DB_NAME=syncboard